@{
    ViewBag.Title = "SF";
}

<div class="jumbotron">
    <h1>Hungry?</h1>
    <p class="lead">Enter an address to find food trucks nearby.</p>
    <input id="txtQuery" type="text" class="twitterStyleTextbox" />
    <input type="button" value="Find Trucks Nearby" class="btn btn-primary btn-large" onclick="ClickGeocode()" /> 
    <div class="jumbotron" id='mapDiv' style="position:relative; height:75vh;"></div>
</div>
